h1.ime{
    background-color: aqua;
    text-align: center;
    border-radius: 1em;
}

h3.projekti{
    background-color: aqua;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 0.75em;
}
h3.projekti:hover{
    background-color: rgb(158, 90, 90)
 
}

a{
    text-decoration: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 200px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1{
        font-size: 60px;
    }
    h3{
        font-size: 35px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1{
        font-size: 70px;
    }
    h3{
        font-size: 40px;
    }
}
